#heading {
	width: 100%; 
	background-color: #f8f9fa; 
	padding: 30px; 
	margin-bottom: 10px;
}

#page {
	height: 100vh;
	width: 100%;
	background-color: #f46842;
}

#give-margin {
	padding-top: 20%;
}